/*///////////////
/// BUTTON
*/ //////////////

button,
input[type="button"],
input[type="submit"],
.button,
.link--action,
.link--cta {
	border-radius: 50em;
	display: inline-block;
	padding: $spacing-default;
	position: relative;

	background: #ea2027;
	background: linear-gradient(to bottom, #ee5a24 0%, #ea2027 100%);
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2rem;
	font-weight: $font-weight-bold;
	letter-spacing: 0.5px;
	line-height: 2rem;
	outline: none;
	text-transform: uppercase;

	i,
	svg {
		margin-left: $spacing-tiny;
	}

	&:before {
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		background-color: rgba($color-white, 0);
		transition: 0.2s background-color ease;
	}

	@include active-states() {
		&:before {
			background-color: rgba($color-white, 0.2);
		}
	}
}
