/*///////////////
/// FLEX
*///////////////

.flex { display: flex; }

.flex--align-center { align-items: center; }
.flex--align-center\@mobile-small { @include bp-min-width($bp-mobile-small) { align-items: center; } }
.flex--align-center\@mobile-large { @include bp-min-width($bp-mobile-large) { align-items: center; } }
.flex--align-center\@tablet { @include bp-min-width($bp-tablet) { align-items: center; } }
.flex--align-center\@tablet-large { @include bp-min-width($bp-tablet-large) { align-items: center; } }

.flex--align-start { align-items: flex-start; }
.flex--align-start\@mobile-small { @include bp-min-width($bp-mobile-small) { align-items: flex-start; } }
.flex--align-start\@mobile-large { @include bp-min-width($bp-mobile-large) { align-items: flex-start; } }
.flex--align-start\@tablet { @include bp-min-width($bp-tablet) { align-items: flex-start; } }
.flex--align-start\@tablet-large { @include bp-min-width($bp-tablet-large) { align-items: flex-start; } }

.flex--align-end { align-items: flex-end; }
.flex--align-end\@mobile-small { @include bp-min-width($bp-mobile-small) { align-items: flex-end; } }
.flex--align-end\@mobile-large { @include bp-min-width($bp-mobile-large) { align-items: flex-end; } }
.flex--align-end\@tablet { @include bp-min-width($bp-tablet) { align-items: flex-end; } }
.flex--align-end\@tablet-large { @include bp-min-width($bp-tablet-large) { align-items: flex-end; } }

.flex--direction-column { flex-direction: column; }
.flex--direction-column\@mobile-small { @include bp-min-width($bp-mobile-small) { flex-direction: column; } }
.flex--direction-column\@mobile-large { @include bp-min-width($bp-mobile-large) { flex-direction: column; } }
.flex--direction-column\@tablet { @include bp-min-width($bp-tablet) { flex-direction: column; } }
.flex--direction-column\@tablet-large { @include bp-min-width($bp-tablet-large) { flex-direction: column; } }

.flex--direction-column-rev { flex-direction: column-reverse; }
.flex--direction-column-rev\@mobile-small { @include bp-min-width($bp-mobile-small) { flex-direction: column-reverse; } }
.flex--direction-column-rev\@mobile-large { @include bp-min-width($bp-mobile-large) { flex-direction: column-reverse; } }
.flex--direction-column-rev\@tablet { @include bp-min-width($bp-tablet) { flex-direction: column-reverse; } }
.flex--direction-column-rev\@tablet-large { @include bp-min-width($bp-tablet-large) { flex-direction: column-reverse; } }

.flex--direction-row { display: flex; flex-direction: row; }
.flex--direction-row\@mobile-small { @include bp-min-width($bp-mobile-small) { flex-direction: row; } }
.flex--direction-row\@mobile-large { @include bp-min-width($bp-mobile-large) { flex-direction: row; } }
.flex--direction-row\@tablet { @include bp-min-width($bp-tablet) { flex-direction: row; } }
.flex--direction-row\@tablet-large { @include bp-min-width($bp-tablet-large) { flex-direction: row; } }

.flex--direction-row-rev { display: flex; flex-direction: row-reverse; }
.flex--direction-row-rev\@mobile-small { @include bp-min-width($bp-mobile-small) { flex-direction: row-reverse; } }
.flex--direction-row-rev\@mobile-large { @include bp-min-width($bp-mobile-large) { flex-direction: row-reverse; } }
.flex--direction-row-rev\@tablet { @include bp-min-width($bp-tablet) { flex-direction: row-reverse; } }
.flex--direction-row-rev\@tablet-large { @include bp-min-width($bp-tablet-large) { flex-direction: row-reverse; } }

.flex--grow { flex: 1 0 auto; }

.flex--grow-equal { flex: 1; }

.flex--justify-around { justify-content: space-around; }
.flex--justify-around\@mobile-small { @include bp-min-width($bp-mobile-small) { justify-content: space-around; } }
.flex--justify-around\@mobile-large { @include bp-min-width($bp-mobile-large) { justify-content: space-around; } }
.flex--justify-around\@tablet { @include bp-min-width($bp-tablet) { justify-content: space-around; } }
.flex--justify-around\@tablet-large { @include bp-min-width($bp-tablet-large) { justify-content: space-around; } }

.flex--justify-between { justify-content: space-between; }
.flex--justify-between\@mobile-small { @include bp-min-width($bp-mobile-small) { justify-content: space-between; } }
.flex--justify-between\@mobile-large { @include bp-min-width($bp-mobile-large) { justify-content: space-between; } }
.flex--justify-between\@tablet { @include bp-min-width($bp-tablet) { justify-content: space-between; } }
.flex--justify-between\@tablet-large { @include bp-min-width($bp-tablet-large) { justify-content: space-between; } }

.flex--justify-center { justify-content: center; }
.flex--justify-center\@mobile-small { @include bp-min-width($bp-mobile-small) { justify-content: center; } }
.flex--justify-center\@mobile-large { @include bp-min-width($bp-mobile-large) { justify-content: center; } }
.flex--justify-center\@tablet { @include bp-min-width($bp-tablet) { justify-content: center; } }
.flex--justify-center\@tablet-large { @include bp-min-width($bp-tablet-large) { justify-content: center; } }

.flex--justify-start { justify-content: flex-start; }
.flex--justify-start\@mobile-small { @include bp-min-width($bp-mobile-small) { justify-content: flex-start; } }
.flex--justify-start\@mobile-large { @include bp-min-width($bp-mobile-large) { justify-content: flex-start; } }
.flex--justify-start\@tablet { @include bp-min-width($bp-tablet) { justify-content: flex-start; } }
.flex--justify-start\@tablet-large { @include bp-min-width($bp-tablet-large) { justify-content: flex-start; } }

.flex--justify-end { justify-content: flex-end; }
.flex--justify-end\@mobile-small { @include bp-min-width($bp-mobile-small) { justify-content: flex-end; } }
.flex--justify-end\@mobile-large { @include bp-min-width($bp-mobile-large) { justify-content: flex-end; } }
.flex--justify-end\@tablet { @include bp-min-width($bp-tablet) { justify-content: flex-end; } }
.flex--justify-end\@tablet-large { @include bp-min-width($bp-tablet-large) { justify-content: flex-end; } }

.flex--wrap { flex-wrap: wrap; }
.flex--wrap-no { flex-wrap: nowrap; }
