/*///////////////
/// BODY
*///////////////

body {
    font-family: 'Roboto', sans-serif;

    font-size: 1.6rem;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: $color-black;

    @include bp-min-width($bp-tablet) {
        font-size: 2rem;
    }
}
