<section class="section section--description">
	<div class="section--description__before"></div>
	<div class="section--description__after"></div>
	<div class="section__content">
		<h2>What is NoFace?</h2>
		<p>NoFace is a design agency focused solely on helping local businesses define their identities, and form a holistic brand
			that will represent their message.</p>
		<p>We don’t normally work with large and established companies and businesses. NoFace works exclusively with small and startup
			businesses in the local area.</p>
		<p>We are aware the industry is forever changing, we don’t give fixed advice to our customers.
			<span class="bold">Every business is unique, and as such we will treat it so.</span>
		</p>
	</div>
</section>