<section class="section margin-top--large">
	<div class="container">
		<div class="row">
			<div class="col-12 text-align--center">
				<h2>We've worked with an interesting bunch!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 case-study">
				<div class="case-study__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/case-study/vostron-gigabit-connectivity-campaign/">
						<img src="https://noface.co.uk/wp-content/uploads/2018/07/Vostron-Featured-Image-406x261.png" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="Featured Image for the Vostron City Fibre Coventry site case study">
					</a>
				</div>
				<div class="case-study__information">
					<a class="link--inherit" href="https://noface.co.uk/case-study/vostron-gigabit-connectivity-campaign/">
						<h3>Vostron – Gigabit Connectivity City Fibre Campaign</h3>
					</a>
					<p>As part of a nationwide campaign, Vostron required micro-sites that were bespoke in design and developed to fit the
						CityFibre campaigns across the country.</p>
				</div>
				<a class="read-more" href="#">Learn more about this case study</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 case-study">
				<div class="case-study__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/case-study/expelled-skateboarding/">
						<img src="https://noface.co.uk/wp-content/uploads/2017/12/Expelled-Intro-Image-406x261.png" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="">
					</a>
				</div>
				<div class="case-study__information">
					<a class="link--inherit" href="https://noface.co.uk/case-study/expelled-skateboarding/">
						<h3>Expelled Skateboarding</h3>
					</a>
					<p>Expelled is an entirely designed multi-functioning skateboarding social media website which gives skateboarders the
						platform to create and interact.</p>
				</div>
				<a class="read-more" href="#">Learn more about this case study</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 case-study">
				<div class="case-study__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/case-study/vostron-blog/">
						<img src="https://noface.co.uk/wp-content/uploads/2018/03/Vostron-Intro-Image-Background-406x261.jpg" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="">
					</a>
				</div>
				<div class="case-study__information">
					<a class="link--inherit" href="https://noface.co.uk/case-study/vostron-blog/">
						<h3>Vostron – Hubspot Blog</h3>
					</a>
					<p>Vostron, an IT communications solutions provider in Southampton, required a bespoke theme to complement their written
						content found on their blog.</p>
				</div>
				<a class="read-more" href="#">Learn more about this case study</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 case-study">
				<div class="case-study__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/case-study/twics/">
						<img src="https://noface.co.uk/wp-content/uploads/2017/12/TWICS-Intro-Image-1-406x261.jpg" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="">
					</a>
				</div>
				<div class="case-study__information">
					<a class="link--inherit" href="https://noface.co.uk/case-study/twics/">
						<h3>TWICS</h3>
					</a>
					<p>TWICS are a small charity that delivers training to vulnerable groups; they require a new website that captures what
						they offer in their entirety.</p>
				</div>
				<a class="read-more" href="#">Learn more about this case study</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 case-study">
				<div class="case-study__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/case-study/solent-university-postcards/">
						<img src="https://noface.co.uk/wp-content/uploads/2017/10/Southampton-Solent-University-Postcards-Intro-Image-406x261.jpg"
						 class="attachment-thumbnail-default size-thumbnail-default wp-post-image" alt="">
					</a>
				</div>
				<div class="case-study__information">
					<a class="link--inherit" href="https://noface.co.uk/case-study/solent-university-postcards/">
						<h3>Solent University Postcards</h3>
					</a>
					<p>Southampton Solent University is looking to reach out to recent graduates to touch base and find out what they are up
						to after university.</p>
				</div>
				<a class="read-more" href="#">Learn more about this case study</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 case-study">
				<div class="case-study__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/case-study/wash-bomb/">
						<img src="https://noface.co.uk/wp-content/uploads/2017/10/Washbomb-Intro-406x261.jpg" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="">
					</a>
				</div>
				<div class="case-study__information">
					<a class="link--inherit" href="https://noface.co.uk/case-study/wash-bomb/">
						<h3>Wash Bomb</h3>
					</a>
					<p>Wash Bomb is one of the newest cleaning products to come to market. Wash Bomb required a website to accompany the launch
						of the product.</p>
				</div>
				<a class="read-more" href="#">Learn more about this case study</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 case-study">
				<div class="case-study__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/case-study/rollking/">
						<img src="https://noface.co.uk/wp-content/uploads/2017/06/Rollking-Intro-Thumbnail-406x261.jpg" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="">
					</a>
				</div>
				<div class="case-study__information">
					<a class="link--inherit" href="https://noface.co.uk/case-study/rollking/">
						<h3>Rollking</h3>
					</a>
					<p>Rollking is a multi-purpose medicinal marijuana tool that is used to help those with body conditions that cause shakes
						and uncontrolled body movements.</p>
				</div>
				<a class="read-more" href="#">Learn more about this case study</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 case-study">
				<div class="case-study__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/case-study/show-love/">
						<img src="https://noface.co.uk/wp-content/uploads/2017/06/Show-Love-Intro-Thumbnail-406x261.jpg" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="">
					</a>
				</div>
				<div class="case-study__information">
					<a class="link--inherit" href="https://noface.co.uk/case-study/show-love/">
						<h3>Show Love</h3>
					</a>
					<p>Show Love, the website that loves love. Show Love runs no pressure, fun events for people who want to find love face
						to face.
					</p>
				</div>
				<a class="read-more" href="#">Learn more about this case study</a>
			</div>
		</div>
	</div>
</section>