<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12 text-align--center">
				<h2>We Also Jot Down Our Thoughts</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 news">
				<div class="news__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/businesses-importantance-website/">
						<img src="https://noface.co.uk/wp-content/uploads/2018/08/Whу-Іtѕ-Іmроrtаnt-For-Buѕіnеѕѕеѕ-Tо-Hаvе-A-Wеbѕіtе-406x261.jpg"
						 class="attachment-thumbnail-default size-thumbnail-default wp-post-image" alt="">
					</a>
				</div>
				<div class="news__information">
					<a class="link--inherit" href="https://noface.co.uk/businesses-importantance-website/">
						<h3>Businesses, whу it’s important to have a website</h3>
					</a>
					<div class="news__meta">
						Written By jack | Posted on 08.08.18 </div>
					<p>Whеthеr you have a ѕmаll, medium, оr lаrgе buѕіnеѕѕ, in this blog post we'll go in tо whу hаvіng a website is іmроrtаnt
						fоr lосаl businesses.</p>
				</div>
				<a class="read-more" href="#">Read more about this insight</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 news">
				<div class="news__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/timber-benefits-wordpress-development/">
						<img src="https://noface.co.uk/wp-content/uploads/2018/07/Timber-Feature-Image-406x261.png" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="">
					</a>
				</div>
				<div class="news__information">
					<a class="link--inherit" href="https://noface.co.uk/timber-benefits-wordpress-development/">
						<h3>Timber, 3 Benefits of Using it in WordPress Development</h3>
					</a>
					<div class="news__meta">
						Written By jack | Posted on 29.07.18 </div>
					<p>We&nbsp;love using WordPress, and combining WordPress with the Twig templating language via Timber has taken our process
						to all new levels.</p>
				</div>
				<a class="read-more" href="#">Read more about this insight</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4 news">
				<div class="news__thumbnail">
					<a class="link--inherit" href="https://noface.co.uk/user-profiles-advanced-custom-fields/">
						<img src="https://noface.co.uk/wp-content/uploads/2018/07/ACF-User-Profiles-Featured-Image-406x261.png" class="attachment-thumbnail-default size-thumbnail-default wp-post-image"
						 alt="">
					</a>
				</div>
				<div class="news__information">
					<a class="link--inherit" href="https://noface.co.uk/user-profiles-advanced-custom-fields/">
						<h3>User Profiles – Advanced Custom Fields</h3>
					</a>
					<div class="news__meta">
						Written By jack | Posted on 01.07.18 </div>
					<p>After recently working on a new online booking website for Makeup and Mane, we came across solving the problem of staff
						user profiles.</p>
				</div>
				<a class="read-more" href="#">Read more about this insight</a>
			</div>
		</div>
	</div>
</section>