@font-face {
	font-family: SuisseIntl;
	src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
	font-family: SuisseIntl;
	font-weight: 500;
	src: url("../fonts/SuisseIntl-Medium.otf") format("opentype");
}

@font-face {
	font-family: SuisseIntl;
	font-weight: bold;
	src: url("../fonts/SuisseIntl-Bold.otf") format("opentype");
}
