<section class="section section--image height--large flex flex--align-center flex--justify-center text-color--white text-align--center"
 style="background-color: #000022;">
	<div class="width--content">
		<div>
			<h1>Providing Your Business With A Unique Identity</h1>
			<div class="icon icon--medium icon--mouse margin--center margin-top--auto"></div>
		</div>
	</div>

	<div class="section__background background--cover background-overlay--dark">
		<svg class="hide">
			<style>
				.section__background {
					background-image: url('https://noface.co.uk/wp-content/uploads/2017/11/malik-earnest-23596-1-640x427.jpg');
				}

				@media screen and (min-width: 640px) {
					.section__background {
						background-image: url('https://noface.co.uk/wp-content/uploads/2017/11/malik-earnest-23596-1-1024x683.jpg');
					}
				}

				@media screen and (min-width: 1024px) {
					.section__background {
						background-image: url('https://noface.co.uk/wp-content/uploads/2017/11/malik-earnest-23596-1-1366x911.jpg');
					}
				}

				@media screen and (min-width: 1366px) {
					.section__background {
						background-image: url('https://noface.co.uk/wp-content/uploads/2017/11/malik-earnest-23596-1-1920x1280.jpg');
					}
				}

				@media screen and (min-width: 1920px) {
					.section__background {
						background-image: url('https://noface.co.uk/wp-content/uploads/2017/11/malik-earnest-23596-1-2560x1707.jpg');
					}
				}
			</style>
		</svg>
	</div>
</section>