<section class="section section--image section--left background-color--blue text-color--white padding--huge">
	<div class="section__content">
		<h2>Stand out from the crowd</h2>
		<p>We help identify and develop identities for local businesses which reflect the personality of the business.</p>
		<p>We work with our customers and help create their visions. Our work is a reflection of our skills and so we let our work
			speak for itself.</p>
		<p>
			<a class="link link--action" href="/work/">Experience the Web</a>
		</p>
	</div>
	<div class="section__background section__background-3 background--cover background--position-left-center">
		<style>
			.section__background-3 {
				background-image: url('https://noface.co.uk/wp-content/uploads/2017/11/dj-yellow.jpg');
			}
		</style>
	</div>
</section>