//
// Grid Options
//
// To avoid your options getting overridden by an update,
// copy and paste the below options to your own sass file
// and include it before this file.
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;
// Grid containers

// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
@import "breakpoints/mixins/breakpoints";
@import "grid/bootstrap-grid";
@import "sizing/utilities/sizing";
@import "layout/utilities/spacing";
@import "layout/mixins/visibility";
@import "layout/utilities/visibility";
.container--mid {
    @include bp-min-width(1300px) {
        max-width: 1300px;
    }
}
.container--art {
    @include bp-min-width(1430px) {
        max-width: 1430px;
    }
}
.container--wide {
    @include bp-min-width(1600px) {
        max-width: 1600px;
    }
}
